<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts::header"></head>
<body>
<nav th:replace="layouts:: navbar"></nav>


<div class="container">
    <a class="btn btn-primary" th:href="@{/employee/new}" role="button">Create New Employee</a>
    <table th:fragment="list-employees" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Employee Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="aEmployee: ${employees}">
            <th scope="row" th:text="${aEmployee.employeeId}"></th>
            <td th:text="${aEmployee.firstName}"></td>
            <td th:text="${aEmployee.lastName}"></td>
            <td th:text="${aEmployee.email}"></td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>